<a href="https://colab.research.google.com/github/000626574705/DS_assign./blob/main/NumpyBasic_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import numpy as np
import pandas as pd
list_ = [ '1' , '2' , '3' , '4' , '5' ]
array_list = np.array(object = list_)

In [12]:
#Q1 solution
print(type(list_))
print(type(array_list))

<class 'list'>
<class 'numpy.ndarray'>

In [ ]:
#by output we get that cariable list is of datatype list and array_list of type array_list

In [13]:
#Q2 solution-
for i in list_:
  print(type(i))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

In [15]:
for i in array_list:
  print(type(i))

<class 'numpy.str_'>
<class 'numpy.str_'>
<class 'numpy.str_'>
<class 'numpy.str_'>
<class 'numpy.str_'>

In [ ]:
#Q3 solution-

In [16]:
array_list = np.array(object = list_, dtype = int)

In [17]:
print(type(array_list))

<class 'numpy.ndarray'>

In [18]:
print(type(list_))

<class 'list'>

In [19]:
for i in list_:
  print(type(i))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

In [20]:
for i in array_list:
  print(type(i))

<class 'numpy.int64'>
<class 'numpy.int64'>
<class 'numpy.int64'>
<class 'numpy.int64'>
<class 'numpy.int64'>

In [21]:
#yes there is difference in the datatype of elements in array_list and list_

In [22]:
#Q4
import numpy as np
num_list = [ [ 1 , 2 , 3 ] , [ 4 , 5 , 6 ] ]
num_array = np.array(object = num_list)

In [23]:
#Q4 solution-
np.shape(num_array)

(2, 3)

In [24]:
np.size(num_array)

6

In [30]:
#Q5 solution-
matrix = np.zeros((3, 3), dtype=int)

In [31]:
matrix

array([[0, 0, 0],
       [0, 0, 0],
       [0, 0, 0]])

In [35]:
matr = np.eye(5, dtype=int)

In [36]:
matr

array([[1, 0, 0, 0, 0],
       [0, 1, 0, 0, 0],
       [0, 0, 1, 0, 0],
       [0, 0, 0, 1, 0],
       [0, 0, 0, 0, 1]])