<a href="https://colab.research.google.com/github/000626574705/DS_assign./blob/main/pandas%20adv%20assignment(incomplete).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Q1
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

In [7]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [15]:
  # Q1 solution-
  df.iloc[1]

course_name    Data Science
duration                  2
Name: 0, dtype: object

In [18]:
#Q2 solution - loc is primarily label-based indexing, which means you can access data using row and column labels.
#It uses the labels of the rows and columns to retrieve data from the DataFrame.
# iloc stands for "integer location," and it is used for integer-based indexing, where you access data using integer positions (row and column numbers) instead of labels.
df.loc[2]

course_name    Big Data
duration              6
Name: 2, dtype: object

In [22]:
#Q3 solution-
reindex = [3,0,1,2]
df1=df.reindex(reindex)

In [23]:
df1

        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

In [24]:
output_iloc = df1.iloc[2]
output_loc = df1.loc[2]

In [25]:
output_iloc

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [26]:
output_loc

course_name    Big Data
duration              6
Name: 2, dtype: object

In [27]:
# i observe difference between both outputs as we see loc give data according to  index value exact and iloc gives value by indexing from 0 to n-1

In [28]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [29]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.233139  0.533677  0.929166  0.611070  0.112556  0.494966
2  0.058223  0.887016  0.896425  0.931182  0.793467  0.828598
3  0.458166  0.113879  0.586672  0.188848  0.216257  0.052857
4  0.180424  0.233398  0.319708  0.329518  0.446737  0.873923
5  0.761482  0.309133  0.655072  0.094884  0.653131  0.214875
6  0.536664  0.742211  0.177373  0.231007  0.649648  0.574418

In [30]:
#Q4 (I) solution-

df1.mean()

column_1    0.371350
column_2    0.469886
column_3    0.594069
column_4    0.397751
column_5    0.478633
column_6    0.506606
dtype: float64

In [33]:
#Q4 (II) solution-
df1['column_2'].std()

0.3035577435943976

In [34]:
str_var='string_variable'
df1['column_2']=str_var

In [35]:
df1['column_2'].mean()

TypeError: ignored

In [36]:
#Q6 solution - In pandas, the windows functions, also known as rolling or moving functions, are a powerful tool for performing calculations on a rolling window of data in a DataFrame or Series. These functions enable you to analyze data over a specific window or interval, making them especially useful for time series data or other sequential data.
#  Types of Windows Functions in pandas:
#  1.Rolling Window Functions:
#2.Expanding Window Functions
#3.Exponential Weighted Functions:
#4.Rolling Apply Function

In [48]:
#Q7 solution-
from datetime import datetime
current_dt = datetime.now()
current_month = current_dt.month
current_year = current_dt.year

print(current_month)
print(current_year)

7
2023

In [1]:
#Q8 solution-
import pandas as pd

def get_date_input(prompt):
    while True:
        try:
            date_input = input(prompt)
            date_obj = pd.to_datetime(date_input, format='%Y-%m-%d')
            return date_obj
        except ValueError:
            print("Invalid date format. Please use the format YYYY-MM-DD.")

def calculate_time_difference(start_date, end_date):
    time_difference = end_date - start_date
    return time_difference.days, time_difference.seconds // 3600, (time_difference.seconds // 60) % 60

if __name__ == "__main__":
    print("Enter two dates in the format YYYY-MM-DD:")

    # Get input for start date
    start_date = get_date_input("Start date: ")

    # Get input for end date
    end_date = get_date_input("End date: ")

    # Calculate the difference
    days_diff, hours_diff, minutes_diff = calculate_time_difference(start_date, end_date)

    # Display the result
    print(f"\nDifference between the two dates:")
    print(f"Days: {days_diff} days")
    print(f"Hours: {hours_diff} hours")
    print(f"Minutes: {minutes_diff} minutes")

Enter two dates in the format YYYY-MM-DD:
Start date: 2023-02-23
End date: 2023-01-01

Difference between the two dates:
Days: -53 days
Hours: 0 hours
Minutes: 0 minutes

In [16]:
#Q9 solution-
import pandas as pd

def read_csv_and_convert_to_categorical(file_path, column_name, category_order):
    try:
        # Read the CSV file into a DataFrame
        df = pd.read_csv(file_path)

        # Convert the specified column to categorical with the specified category order
        df[column_name] = pd.Categorical(df[column_name], categories=category_order, ordered=True)

        # Sort the data based on the specified column
        sorted_df = df.sort_values(by=column_name)

        return sorted_df
    except FileNotFoundError:
        print("File not found. Please check the file path.")
        return None
    except KeyError:
        print(f"Column '{column_name}' not found in the CSV file.")
        return None

if __name__ == "__main__":
    print("Enter the file path of the CSV file:")
    file_path = input()

    print("Enter the column name to convert to categorical:")
    column_name = input()

    print("Enter the category order separated by commas (e.g., 'cat1,cat2,cat3'):")
    category_order = input().split(',')

    # Read the CSV file, convert the specified column to categorical, and sort the data
    sorted_data = read_csv_and_convert_to_categorical(file_path, column_name, category_order)

    if sorted_data is not None:
        print("\nSorted data based on the specified column:")
        print(sorted_data)

Enter the file path of the CSV file:
california_housing_test.csv
Enter the column name to convert to categorical:
longitude
Enter the category order separated by commas (e.g., 'cat1,cat2,cat3'):
3

Sorted data based on the specified column:
     longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0          NaN     37.37                27.0       3885.0           661.0
1          NaN     34.26                43.0       1510.0           310.0
2          NaN     33.78                27.0       3589.0           507.0
3          NaN     33.82                28.0         67.0            15.0
4          NaN     36.33                19.0       1241.0           244.0
...        ...       ...                 ...          ...             ...
2995       NaN     34.42                23.0       1450.0           642.0
2996       NaN     34.06                27.0       5257.0          1082.0
2997       NaN     36.30                10.0        956.0           201.0
2998       NaN     34.10                40.0         96.0            14.0
2999       NaN     34.42                42.0       1765.0           263.0

      population  households  median_income  median_house_value
0         1537.0       606.0         6.6085            344700.0
1          809.0       277.0         3.5990            176500.0
2         1484.0       495.0         5.7934            270500.0
3           49.0        11.0         6.1359            330000.0
4          850.0       237.0         2.9375             81700.0
...          ...         ...            ...                 ...
2995      1258.0       607.0         1.1790            225000.0
2996      3496.0      1036.0         3.3906            237200.0
2997       693.0       220.0         2.2895             62000.0
2998        46.0        14.0         3.2708            162500.0
2999       753.0       260.0         8.5608            500001.0

[3000 rows x 9 columns]